@charset 'utf-8';
@font-face {
  font-family: apple;
  src: url(../fonts/AppleSDGothicNeoEB.ttf);
}
html,
body {
  margin: 0;
  font-family: apple;
}
ul,
li,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
  margin: 0;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
}

/* header */
#header {
  z-index: 9999;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.row {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

#header .logo {
  margin: 0 auto;
}

.row .logo {
  display: inline-block;
  width: 230px;
  height: 50px;
  background: url("../img/logo.jpg") 0 0 no-repeat;
  background-size: 230px;
  font-size: 0;
}

/* 왼쪽 카테고리 */
#header .category {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.category .submenu {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: white;
  margin-top: 20px;
  font-size: 0.7em;
  text-align: left;
}

.category .submenu a {
  display: block;
  padding: 15px 20px;
  position: relative;
}

.category .submenu a:hover {
  color: white;
  background: #87490cff;
  transition: all 0.3s;
}

.category:hover .submenu {
  display: block;
}

/* 오른쪽 메뉴 */
#header .states {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-40%);
  display: flex;
}

#header .states a {
  position: relative;
  display: inline-block;
  margin-left: 24px;
  font-size: 0.8em;
  font-weight: 500;
  color: #333;
  background: none;
  padding: 0;
}
.search {
  position: relative;
}
.search .search-btn img {
  width: 30px;
}
.search .search-btn:hover + .search-txt {
  display: block;
}

.search-txt {
  border: 1px solid #87490cff;
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background: #87490cff;
  padding: 2px;
}
.search-txt input {
  border: none;
}

/* footer메뉴 */
footer {
  font-size: 0.8em;
  margin-top: 15%;
  padding: 3% 0;
  border-top: 1px solid #333;
}
footer > div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer ul li {
  line-height: 33px;
  font-size: 0.8em;
}
footer img {
  width: 200px;
}

/*반응형*/
@media (max-width: 1500px) {
  .slide figure .fig-1{font-size: 3em;}
  .slide figure .fig-1 span{font-size: 0.8em;}
  .slide figure .fig-2{font-size: 2.5em;}
  .slide figure .fig-2 span{font-size: 15px;}
  .slide figure .fig-3{
    font-size: 3em;
    margin-left: 50%;
  }

}
@media (max-width: 1300px) {
  .slide figure .fig-1{font-size: 2.5em;}
  .main-benner_nails {height: 300px;}
  .main-benner_nails li a{
    font-size: 13px;
  }

}
@media (max-width: 1100px) {
  .main-benner_nails {
    height: 280px;
    right: 6%;
  }
  .main-benner_nails li a{
    font-size: 10px;
  }
  .slide figure .fig-1 {
    font-size: 1.8em;
    padding-top: 26px;
  }
  .slide figure .fig-2 {
    top: 16%;
    font-size: 3rem;
  }
  .slide figure .fig-3 {
    top: 6%;
    right: 19%;
    font-size: 3em;
  }
  .list-header{margin-top: 20%;}
  .list-option button{
    padding: 5px 10px;
    font-size: 0.5em;
    margin: 10px 0px;
  }
  .login-header{margin-top: 15%;}
}
@media (max-width: 994px) {
  .main-benner_nails {
    height: 230px;
    right: 7%;
  }
  .main-benner_nails li a {
    font-size: 8px;
    padding: 14px 0;
  }
  .slide figure .fig-3 {
    top: 6%;
    right: 19%;
    font-size: 2.8em;
    line-height: 34px;
  }
  .rec ul li .text {
    font-size: 0.8rem;
    line-height: 35px;
  }
  .best-wrap h2,
  .rec h2 {
    font-size: 2.6em;
  }
}
@media (max-width: 880px) {
  .list-option {
    margin-left: 110px;
  }
}
@media (max-width: 865px) {
  .main-benner_nails {
    width: 120px;
    height: 220px;
  }
  .main-benner_nails li a {
    padding: 20px 0;
    font-size: 3px;
  }
  .slide figure .fig-1 {
    font-size: 1.2em;
    padding-top: 40px;
  }
  .slide figure .fig-2 {
    top: 13%;
    font-size: 2.6rem;
  }
  .slide figure .fig-3 {
    top: 8%;
    right: 30%;
    font-size: 2em;
    line-height: 31px;
  }
  .slide figure .fig-3 span small {
    font-size: 0.5em;
  }
}

@media (max-width: 810px) {
  .slide figure .fig-1 span {
    font-size: 2.6rem;
  }
  .slide figure .fig-2 {
    top: 13%;
    font-size: 2.6rem;
  }
  .list-option {
    margin-left: 60px;
  }
}

@media (max-width: 731px) {
  .main-benner_nails {
    width: 120px;
    height: 200px;
  }
  .main-benner_nails li a {
    padding: 15px 0;
    font-size: 3px;
  }
  .slide figure .fig-1 {
    font-size: 1.2em;
    padding-top: 33px;
  }
  .slide figure .fig-1 span {
    font-size: 2.2rem;
  }
  .slide figure .fig-2 {
    top: 13%;
    font-size: 1.5rem;
  }
  .slide figure .fig-2 span {
    font-size: 8px;
  }
  .slide figure .fig-3 {
    font-size: 2.3em;
    line-height: 35px;
  }
  .slide figure .fig-3 span small {
    font-size: 0.8em;
  }
  .option input {
    margin-left: -3%;
  }
  .list-option {
    margin-left: 31px;
  }
  figure {
    display: block;
  }
  .login {
    width: 100%;
    margin-bottom: 3%;
  }
  .login input {
    width: 100%;
  }
  .sp ul li button {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .sp {
    width: 100%;
  }
  .sp ul li {
    font-size: 0.8em;
  }
}

@media (max-width: 673px) {
  .main-benner_nails {
    height: 210px;
  }
  .main-benner_nails li a {
    padding: 3px 0;
  }
  .main-benner_nails li a:hover {
    border-bottom: 2px solid #87490c;
  }
  .slide figure .fig-1 {
    font-size: 1.1em;
    padding-top: 29px;
  }
  .slide figure .fig-1 span {
    font-size: 2rem;
  }
  .slide figure .fig-2 {
    top: 13%;
    font-size: 2rem;
  }
  .slide figure .fig-2 span {
    font-size: 5px;
  }
  .slide figure .fig-3 {
    top: 2%;
    right: 6%;
    font-size: 2em;
    line-height: 25px;
  }
  .slide figure .fig-3 span small {
    font-size: 0.7em;
  }
  footer img {
    display: none;
  }
  .list-header {
    width: 70%;
  }
}

@media (max-width: 673px) {
  .row {
    width: 92%;
  }
  #header .states a {
    margin-left: 12px;
  }
  .main-benner_nails {
    display: none;
  }
  .slide figure .fig-1 {
    width: 27%;
    height: 90%;
  }
  .slide figure .fig-3 {
    top: 2%;
    right: 7%;
    font-size: 1.7em;
    line-height: 23px;
  }
  .best-wrap h2,
  .rec h2 {
    font-size: 2em;
  }
  .product > figure:nth-child(1) > a > figcaption {
    font-size: 1em;
  }
  .product > figure > a > figcaption {
    font-size: 0.7em;
  }
  section {
    width: 90%;
  }
}

@media (max-width: 556px) {
  section {
    width: 100%;
  }
}
